# Clustering evaluation

In [138]:
from collections import Counter
import json
import numpy as np
import pandas as pd

In [151]:
RESULTS_PATH = "../results/kmeans_results_rd.json"
WORDS_PATH = "../results/kmeans_top_words_rd.json"
MAX_ARS = 0.5
MIN_ARS = -0.02

In [152]:
with open(RESULTS_PATH) as f:
    scores = json.load(f)

In [153]:
results = pd.DataFrame.from_dict(scores, orient="index").sort_values("ars", ascending=False)

In [154]:
shortened_results = results[(results.ars >= MAX_ARS) | (results.ars <= MIN_ARS)]

In [155]:
shortened_results

                               ars        vm
Frühaufklärung/Realismus  0.584472  0.457452
Barock/Realismus          0.517758  0.439188
Frühaufklärung/Moderne   -0.044559  0.014667
Barock/Moderne           -0.065423  0.022024

## top words

In [156]:
with open(WORDS_PATH) as f:
    top_words = json.load(f)

In [157]:
tw = pd.DataFrame.from_dict(top_words, orient="index")
tw.columns = ["cluster1", "cluster2"]

In [158]:
tw.head(3)

,cluster1,cluster2
Barock/Frühaufklärung,"[kan, bey, seyn, wer, mehr, muß, welt, ach, ze...","[gott, vnd, mensch, wer, welt, leben, geist, m..."
Barock/Aufklärung,"[ach, liebe, herz, mehr, schon, leben, wohl, w...","[gott, vnd, wer, kan, mensch, welt, auff, muß,..."
Barock/Biedermeier,"[vnd, auff, kan, gott, un, vns, seyn, de, wer,...","[gott, welt, wer, mehr, herz, leben, muß, lieb..."

In [159]:
tw = tw.loc[["Frühaufklärung/Realismus"]]

In [160]:
def strjoin(liste):
    return " ".join(liste)

In [161]:
tw["cluster1"] = tw.cluster1.apply(strjoin)
tw["cluster2"] = tw.cluster2.apply(strjoin)

In [162]:
tw.head(3)

,cluster1,cluster2
Frühaufklärung/Realismus,herz nacht schon leben liebe seele welt mehr i...,gott bey kan wer seyn muß welt mehr liebe geist

In [163]:
cluster1_words = [w for l in tw.cluster1.values for w in l.split(" ")]
cluster2_words = [w for l in tw.cluster2.values for w in l.split(" ")]

In [164]:
cluster1_mc = Counter(cluster1_words).most_common(10)
cluster2_mc = Counter(cluster2_words).most_common(10)

cluster1_mc_df = pd.DataFrame(cluster1_mc, columns=["Wort", "Häufigkeit"])
cluster2_mc_df = pd.DataFrame(cluster2_mc, columns=["Wort", "Häufigkeit"])

In [165]:
cluster1_mc_df

    Wort  Häufigkeit
0   herz           1
1  nacht           1
2  schon           1
3  leben           1
4  liebe           1
5  seele           1
6   welt           1
7   mehr           1
8  immer           1
9    sah           1

In [166]:
cluster2_mc_df

    Wort  Häufigkeit
0   gott           1
1    bey           1
2    kan           1
3    wer           1
4   seyn           1
5    muß           1
6   welt           1
7   mehr           1
8  liebe           1
9  geist           1