# Clustering evaluation

In [3]:
from collections import Counter
import json
import numpy as np
import pandas as pd

In [4]:
RESULTS_PATH_KMEANS = "../results/kmeans_results_amann.json"
RESULTS_PATH_DBSCAN = "../results/dbscan_results_amann.json"
MAX_ARI = 0.5
MIN_ARI = -0.1

In [12]:
with open(RESULTS_PATH_KMEANS) as f:
    kmeans = json.load(f)

kmeans_scores = {}
kmeans_top_words = {}

for k,v in kmeans.items():
    kmeans_scores[k] = v["scores"]
    kmeans_top_words[k] = v["tw"]

In [13]:
with open(RESULTS_PATH_DBSCAN) as f:
    dbscan = json.load(f)
    
dbscan_scores = {}
dbscan_top_words = {}

for k,v in dbscan.items():
    dbscan_scores[k] = v["scores"]
    #dbscan_top_words[k] = v["tw"]

In [7]:
kmeans_score_df = pd.DataFrame.from_dict(kmeans_scores, orient="index").sort_values("ari", ascending=False)

In [14]:
dbscan_score_df = pd.DataFrame.from_dict(dbscan_scores, orient="index").sort_values("ari", ascending=False)

In [15]:
dbscan_score_df

                                   ari        vm
Barock/Realismus              0.507069  0.540588
Barock/Klassik                0.455296  0.478904
Barock/Biedermeier            0.440755  0.505506
Barock/Naturalismus           0.438779  0.449462
Barock/Aufklärung             0.383122  0.384044
Biedermeier/Expressionismus   0.297341  0.322307
Barock/Expressionismus        0.280356  0.327333
Aufklärung/Expressionismus    0.262993  0.165044
Barock/Romantik               0.236526  0.252177
Klassik/Expressionismus       0.226976  0.099441
Aufklärung/Romantik           0.155437  0.079700
Realismus/Expressionismus     0.139877  0.049878
Aufklärung/Naturalismus       0.105600  0.067682
Klassik/Romantik              0.076013  0.016277
Romantik/Expressionismus      0.065513  0.173972
Romantik/Biedermeier          0.055600  0.077582
Aufklärung/Biedermeier        0.053298  0.072729
Klassik/Biedermeier           0.051355  0.072217
Klassik/Realismus             0.049160  0.038989
Klassik/Naturalismus          0.047796  0.012338
Biedermeier/Naturalismus      0.042579  0.113293
Biedermeier/Realismus         0.040056  0.069298
Naturalismus/Expressionismus  0.032745  0.072111
Aufklärung/Realismus          0.029102  0.053809
Romantik/Naturalismus         0.016483  0.008737
Aufklärung/Klassik            0.002874  0.020314
Romantik/Realismus            0.000803  0.000172

In [8]:
kmeans_shortened_score_df = kmeans_score_df[(kmeans_score_df.ari >= MAX_ARI) | (kmeans_score_df.ari <= MIN_ARI)]

In [10]:
kmeans_shortened_score_df

                              ari        vm
Barock/Naturalismus      0.702405  0.605282
Barock/Klassik           0.668184  0.630639
Aufklärung/Naturalismus  0.642419  0.598242
Barock/Realismus         0.636041  0.613524
Barock/Aufklärung        0.549068  0.466089
Barock/Romantik         -0.106393  0.101688

## top words

In [24]:
tw = pd.DataFrame.from_dict(top_words, orient="index")
tw.columns = ["cluster1", "cluster2"]

In [25]:
tw.head(3)

,cluster1,cluster2
Barock/Frühaufklärung,"[vnd, auff, auß, dan, jhr, deß, vns, wan, üm, ...","[auff, jch, jn, fuer, sei, wil, jhr, mädchen, ..."
Barock/Aufklärung,"[mädchen, hain, flur, fuer, freiheit, ew, sehn...","[kan, auff, vnd, diß, wil, auß, hertz, jch, of..."
Barock/Biedermeier,"[mädchen, ueber, tränen, fuer, duft, thränen, ...","[kan, auff, vnd, diß, wil, auß, hertz, jch, of..."

In [26]:
tw = tw.loc[["Barock/Realismus"]]

In [27]:
def strjoin(liste):
    return " ".join(liste)

In [28]:
tw["cluster1"] = tw.cluster1.apply(strjoin)
tw["cluster2"] = tw.cluster2.apply(strjoin)

In [29]:
tw.head(3)

,cluster1,cluster2
Barock/Realismus,kan vnd auff seyn bey diß sey wil wol auß,oh ew thränen tat tut ritter ueber tal tor re

In [30]:
cluster1_words = [w for l in tw.cluster1.values for w in l.split(" ")]
cluster2_words = [w for l in tw.cluster2.values for w in l.split(" ")]

In [31]:
cluster1_mc = Counter(cluster1_words).most_common(10)
cluster2_mc = Counter(cluster2_words).most_common(10)

cluster1_mc_df = pd.DataFrame(cluster1_mc, columns=["Wort", "Häufigkeit"])
cluster2_mc_df = pd.DataFrame(cluster2_mc, columns=["Wort", "Häufigkeit"])

In [32]:
cluster1_mc_df

   Wort  Häufigkeit
0   kan           1
1   vnd           1
2  auff           1
3  seyn           1
4   bey           1
5   diß           1
6   sey           1
7   wil           1
8   wol           1
9   auß           1

In [33]:
cluster2_mc_df

      Wort  Häufigkeit
0       oh           1
1       ew           1
2  thränen           1
3      tat           1
4      tut           1
5   ritter           1
6    ueber           1
7      tal           1
8      tor           1
9       re           1