# Clustering evaluation

In [20]:
from collections import Counter
import json
import numpy as np
import pandas as pd

In [34]:
RESULTS_PATH = "../results/kmeans_results_amann.json"
MAX_ARI = 0.5
MIN_ARI = -0.1

In [35]:
with open(RESULTS_PATH) as f:
    results = json.load(f)

In [36]:
scores = {}
top_words = {}

for k,v in results.items():
    scores[k] = v["scores"]
    top_words[k] = v["tw"]

In [37]:
score_df = pd.DataFrame.from_dict(scores, orient="index").sort_values("ari", ascending=False)

In [38]:
shortened_score_df = score_df[(score_df.ari >= MAX_ARI) | (score_df.ari <= MIN_ARI)]

In [39]:
shortened_score_df

                              ari        vm
Barock/Naturalismus      0.702405  0.605282
Barock/Klassik           0.668184  0.630639
Aufklärung/Naturalismus  0.642419  0.598242
Barock/Realismus         0.636041  0.613524
Barock/Aufklärung        0.549068  0.466089
Barock/Romantik         -0.106393  0.101688

## top words

In [24]:
tw = pd.DataFrame.from_dict(top_words, orient="index")
tw.columns = ["cluster1", "cluster2"]

In [25]:
tw.head(3)

,cluster1,cluster2
Barock/Frühaufklärung,"[vnd, auff, auß, dan, jhr, deß, vns, wan, üm, ...","[auff, jch, jn, fuer, sei, wil, jhr, mädchen, ..."
Barock/Aufklärung,"[mädchen, hain, flur, fuer, freiheit, ew, sehn...","[kan, auff, vnd, diß, wil, auß, hertz, jch, of..."
Barock/Biedermeier,"[mädchen, ueber, tränen, fuer, duft, thränen, ...","[kan, auff, vnd, diß, wil, auß, hertz, jch, of..."

In [26]:
tw = tw.loc[["Barock/Realismus"]]

In [27]:
def strjoin(liste):
    return " ".join(liste)

In [28]:
tw["cluster1"] = tw.cluster1.apply(strjoin)
tw["cluster2"] = tw.cluster2.apply(strjoin)

In [29]:
tw.head(3)

,cluster1,cluster2
Barock/Realismus,kan vnd auff seyn bey diß sey wil wol auß,oh ew thränen tat tut ritter ueber tal tor re

In [30]:
cluster1_words = [w for l in tw.cluster1.values for w in l.split(" ")]
cluster2_words = [w for l in tw.cluster2.values for w in l.split(" ")]

In [31]:
cluster1_mc = Counter(cluster1_words).most_common(10)
cluster2_mc = Counter(cluster2_words).most_common(10)

cluster1_mc_df = pd.DataFrame(cluster1_mc, columns=["Wort", "Häufigkeit"])
cluster2_mc_df = pd.DataFrame(cluster2_mc, columns=["Wort", "Häufigkeit"])

In [32]:
cluster1_mc_df

   Wort  Häufigkeit
0   kan           1
1   vnd           1
2  auff           1
3  seyn           1
4   bey           1
5   diß           1
6   sey           1
7   wil           1
8   wol           1
9   auß           1

In [33]:
cluster2_mc_df

      Wort  Häufigkeit
0       oh           1
1       ew           1
2  thränen           1
3      tat           1
4      tut           1
5   ritter           1
6    ueber           1
7      tal           1
8      tor           1
9       re           1