# Testing different things

In [5]:
import pandas as pd

In [25]:
prose = pd.read_csv("../corpora/german_prose1870.csv")

In [35]:
poems = pd.read_csv("../corpora/german_poems1870.csv")

In [36]:
poems.head(1)

,pid,filename,poet,title,year,poem,poemlength
0,38237,"Dahn, Felix_Ein Königsspiel_1873","Dahn, Felix",Ein Königsspiel,1873,Saß der König Artaxerxes In dem goldnen Haus z...,594

In [37]:
prose.head(1)

,filename,author,title,year,textlength,text
0,Oskar_Panizza_-_Stoßseufzer_aus_Bayreuth_(1891),Oskar Panizza,Stoßseufzer aus Bayreuth,1891,4158,Sehr geehrter Herr Redakteur ! Ich bin Lehrer ...

### join dataframes

In [39]:
poems2 = poems.drop("pid", axis=1)
poems2 = poems2.rename(columns={"poet": "author", "poem": "text", "poemlength": "textlength"}, errors="raise")

In [40]:
poems2.head(1)

,filename,author,title,year,text,textlength
0,"Dahn, Felix_Ein Königsspiel_1873","Dahn, Felix",Ein Königsspiel,1873,Saß der König Artaxerxes In dem goldnen Haus z...,594

In [45]:
con_corpus = pd.concat([poems2, prose], ignore_index=True)

In [48]:
con_corpus.head(1)

,filename,author,title,year,text,textlength
0,"Dahn, Felix_Ein Königsspiel_1873","Dahn, Felix",Ein Königsspiel,1873,Saß der König Artaxerxes In dem goldnen Haus z...,594

In [47]:
con_corpus.to_csv("../corpora/german_poems_prose.csv", index=False)

In [51]:
con_corpus.shape

(9318, 6)